<?xml version="1.0"?>
<launch>
    <!-- GPS Publisher - publishes static GPS fix for map display -->
    <node pkg="rostopic" type="rostopic" name="gps_fix_publisher"
          args="pub /gps/fix sensor_msgs/NavSatFix --latch --file=$(find gantry_simulation)/launch/gantry_map.gps"
          output="screen">
        <param name="queue_size" value="1"/>
    </node>

    <!-- Start RViz with Mapbox satellite configuration -->
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find satellite_map)/rviz/mapbox_satellite.rviz"
          output="screen">
    </node>
</launch>
